{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Painel</title>
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
</head>
<body>

    <div class="container-home">
        <nav class="topo">
            <span>Olá, <strong>{{user.username}}</strong></span> 
            <a href="{% url 'logout' %}" class="link-sair">Sair</a>
        </nav>

        <main class="conteudo">
            <h2>Anotações de administradores</h2>          
            <div class="bloco-texto">
                <label>Texto dos admins</label>
                <textarea readonly placeholder="Só admins podem escrever aqui">{{ aviso.texto }}</textarea>
            </div>
        </main>
    </div>

</body>
</html>